// Place all the styles related to the Stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

a:hover {
  text-shadow: 0 0 4px #FFF;
}

input.btn:hover {
  text-shadow: 0 0 4px #FFF;
}

.field_with_errors {
  @extend .has-error;
  color: #F00;
}

.error {
  color: #F00;
}

.form-control.error {
  border: 2px #F00 solid;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}